/* Consistently in all versions */

	/* Basics */
	
	A:{ /* Links */
		font-weight: bold;
	}
		
	A:link { /* Links */
		color:#1b8921;
		text-decoration:none
	}
	
	A:visited { /* Visited links */
		color:#1b8921;
		text-decoration:none
	}
	
	A:hover { /* When you hover over a link */
		color:#09560d;
		text-decoration:none
	}
	
	body { /* Body text */
		text-align: left;
		font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;	
		color: #000000;	
	}
	
	h1,h2,h3,h4{ /* Headings */
		font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
		text-align:center;
	}
	
	p{ /* Paragraph */
		color: #000000; 
	}
	
	tbody{
		text-align: left;
	}
	
	td{
		text-align: top;
	}
	

	
	
	/* ------ Section Boxes on Various Pages------ */
	
	.break{ /* Break between sections on resume page */
		background-color:#ffffff; 
	}
	
	.main{ /* This is the inner white textbox on the contact us page */
		background-color:#ffffff;  
		margin:0 auto; 
	}
	
	.resume_section{ /* Highlighting various pieces of my resume */
		background-color:#cddaf4;  
		margin:0 auto; 
	}
	

	/* ------Mastheads, Sections, and Banners------ */
	
	.footer { /* This is "Enter as strangers, leave as friends" bottom banner */
		background-color:#36B93D; 
		margin:0 auto;
	}

	.header { /* This is the box for the header image */
		background-color:#30B5C9; 
		margin:0 auto; 
	}
	
	.navigation { /* Section that contains buttons on every page; the navigation */
		background-color:#36B93D; 
		margin:0 auto;
	}

	

	/* Text and Buttons */

	.address_entry { /* The text box in which a user types in his/her address to get directions to the CBC */
		background-color:	#ffffff;
		font-weight:		bold;
		color:			#000000;
		border-radius: 100px;
		-moz-border-radius: 100px;
		-webkit-border-radius: 100px;
		border: 3px solid #239b29;
		outline: none;
	}
	
	.buttons { /* All buttons */
		background-color:	#36B93D;
		font-weight:		bold;
		color:			#ffffff;
		border-radius: 100px;
		-moz-border-radius: 100px;
		-webkit-border-radius: 100px;
		border: 3px solid #239b29;
	}
	
	.center_text{ /* Text that needs to be centered */
		text-align: center;
	}
	
	.italic{ /* Any text that needs to be italicized */
		font-style: italic;
		text-align: center;
	}
	
	.left_text{ /* Text that needs to be aligned to the left */
		text-align: left;
	}
	
	#menu_darkgreen { /* The dark green coloring on the menu page */
		background:#2FA135;
	}
	
	#menu_green { /* The lighter green coloring on the menu page */
		background:#ceeacf;
	}
	 
	#menu_jumplinks{ /* The golden border around the jump links on the menu page */
	  	border-top-style: double;
		border-bottom-style: double;
	}
	
	.signature{ /* Formatting for my name and email address at bottom of page */
		text-align: center;
	}
	
	#testimonial_darkgreen { /* Styling for the header of the testimonials table */
		background:#2FA135;
	}
	
	#testimonial_green { /* Styling for the green sections in the testimonials table */
		background:#ceeacf;
	}
	
	.wall_text{ /* Text on wall page; needs extra padding on left due to image */
		text-align: left;
	}	
	
	
	

	/* ------Misc Items------ */
	
	.bottombarimage{ /* This aligns the "Enter as strangers, leave as friends" banner in the center of the footer */
	display: block;
	margin-left: auto;
    	margin-right: auto;
	}
	
	.bottom_padding {
	padding: 0px 0px 20px 0px;
	}
	
	.expand {
    	height: 100px;
	width: 50%;
	padding: 3px;
	}

	#galleria{ /* Dimensions and background color for photo galleries */	
		width: 800px; 
		height: 500px; 
		background: #0000000; 
		margin-left: auto;
		margin-right: auto;
	}
	
	.pad_all_sides { /* Padding for all sides of text in this class */
	padding: 20px 20px 20px 20px;
	}
	
	
	
	
	
	
	/* ------CSS for Tabbed Content Box on Index Page------ */
		
	.rotating_tab_box { /* This is the main box where the rotating tabs are contained */
		background-color: #edf7ed;
		margin-left: auto;
		margin-right: auto;
	}
	
	.rotating_tab_box_header { /* This contains the title of the rotating tab box */
		position: relative;
		background-color:#36B93D;
	}
	
	.rotating_tab_box .slide_content { /* This contains all the content in each tab */
		overflow: hidden;
		background-color: #edf7ed;
		position: relative;
	}
	
	.slide_content_coloring { /* This is the font coloring for the text within each tab */
		color: #000000;
		font-style: italic;
	}
	
	.tabs { /* This contains all of the various tabs */
		position: relative;
	}
	
	.tabs .tabs_background_section { /* This is the background section of tabs */
		background-color:#CEEACF;
		background-image:url(images/rotating_arrow.png);
		position: absolute;
		background-position: bottom left;
		background-repeat: no-repeat;
	}
	
	.tabs .tab_item { /* This styles the various tabs */
		display: block;
		float: left;
		color: #000000;
		text-align: center;
		position: relative;
	}
	
	.tabslider ul { /* Formatting for each ul (the content within each tab) */
		float: left;
		/* Cannot have font coloring in here */
	}
	
	.tabslider ul li {
		color: #ffffff;
		/* There is no font coloring here so that the dots for each ul tag can be the same color as the background color */
	}

	
	
/* Computer-specific only */
@media only screen and (min-device-width: 340mm) {

	/* Basics */

	A:link { /* Links */
		font-size: 16px;
	}

	A:visited { /* Visited links */
		font-size: 16px;
	}
			
	A:hover { /* When you hover over a link */
		font-size: 16px;
	}
		
	body { /* Body text */
		padding: 5px;
		font-size: 16px;
		line-height: 20px;
		}
	
	h1{ /* Headings */
		margin: 5px 5px 5px 5px;
		font-size: 25px;		
		padding-top: 15px;
	}
	
	h2{ /* Headings */
		margin: 5px 5px 5px 5px;
		font-size: 18px;		
		padding-top: 15px;
	}

	p{ /* Paragraph */
		margin: 0px 0px 0px 0px;
	}


	tbody{
		margin:  30px  30px 40px 15px;
	}


	
	
	/* ------White Section on Various Pages------ */
	
	.break{ /* Break between sections on resume page */
		height:50px; 
	}
	
	.main{ /* This is the inner white textbox on the directions page */
		width:1040px; 
		padding-right: 20px; 
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.resume_section{ /* Highlighting various pieces of my resume */
		width:800px; 
		padding-right: 20px; 
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	

	/* ------Mastheads, Sections, and Banners------ */

	.footer { /* This is "Enter as strangers, leave as friends" bottom banner */
		width:1080px; 
		height:60px;
		top: 2500px;
	}

	.header { /* This is the box for the header image */
		width:1080px; 
		height:240px; 
		top: 0px;
	}

	.navigation { /* Section that contains buttons on every page; the navigation */
		width:1080px; 
		height:50px; 
	}	

	

	/* Text and Buttons */

	.address_entry { /* The text box in which a user types in his/her address to get directions to the CBC */
		padding:		10px 20px;
		font-size:		14px;
	}
	
	.buttons { /* All buttons */
		padding:		10px 20px;
		font-size:		14px; 
	}	

	.events_text{ /* Text on events page; needs extra padding on left and right due to images */
		text-align: left;
		margin: 40px 320px 20px 320px;
	}

	.italic{ /* Any text that needs to be italicized */
		line-height: 17px;
		margin: 15px 0px 0px 20px; /* This adds 15px of padding above any italic text */
	}

	.left_text{ /* Text that needs to be aligned to the left */
		margin: 20px 20px 20px 20px;
	}
	 
	#menu_jumplinks{ /* The golden border around the jump links on the menu page */
	  	border-top-width: 4px;
		border-bottom-width: 4px;
		padding: 8px 0px;
		border-top-color: #e0b547;
		border-bottom-color: #e0b547;
	}
	
	.signature{ /* Formatting for my name and email address at bottom of page */
		font-size:	13px;
	}
	
	.wall_text{ /* Text on wall page; needs extra padding on left due to image */
		margin: 40px 40px 20px 620px;
	}
		
	
	
	
	/* ------CSS for Tabbed Content Box on Index Page------ */
	
	.rotating_tab_box { /* This is the main box where the rotating tabs are contained */
		width: 620px;	
	}

	.rotating_tab_box_header { /* This contains the title of the rotating tab box */
		height: 50px;
	}

	.rotating_tab_box .slide_content { /* This contains all the content in each tab */
		padding: 20px 0 20px 20px;
		width: 600px;
	}

	.tabs { /* This contains all of the various tabs */
		height: 50px;
	}

	.tabs .tabs_background_section { /* This is the background section of tabs */
		padding: 15px;
		width: 125px;
		z-index: 190;
		left: 0;
		padding-bottom: 29px;
	}

	.tabs .tab_item { /* This styles the various tabs */
		padding: 15px;
		width: 125px;
		z-index: 200;
	}

	.tabslider { /* This makes it so that each tab appears on its own tab, and all tab content doesn't show up on the first tab */
		width: 5000px;
	}

	.tabslider ul { /* Formatting for each ul (the content within each tab) */
		width: 560px;
		margin: 0px;
		padding: 0px;
		margin-right: 40px;
		/* Cannot have font coloring in here */
	}

	.tabslider ul li {
		padding-bottom: 7px;
	}
	
	
	
	/* Classes Being Hidden In This Version */
	
	.mobile{
		display:none;
	}
}


/* Mobile */
@media (max-device-width: 339mm)  {	
	
	/* ------White Sections on Various Pages------ */
	/* These are here because different pages have different sized 
	boxes and different padding depending on content */
	
	.contactus_textbox{ /* This is the inner white textbox on the contact us page */
		width:90%;  
	}
	
	.directions_textbox{ /* This is the inner white textbox on the events page */
		width:90%;  
	}

	.events_textbox{ /* This is the inner white textbox on the events page */
		width:90%;  
	}
	
	.index_textbox{ /* Main white text box on every page */
		width:90%; 
	}

	.menu_textbox { /* Main white text box on menu page */
		width:90%;
	}
	
	.photogallery_textbox{ /* Main white text box on photo gallery page */
		width:90%;  
	}
	
	.wall_textbox{ /* This is the inner white textbox on the wall page */
		width:90%; 
	}
	

	/* Mastheads, Sections, and Banners */

	.bottombar { /* This is "Enter as strangers, leave as friends" bottom banner */
		width:90%;
		height:60px;
	}
	
	.foodbanner{ /* Styling for the lines around the food banner on the index page */
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		border-bottom-style: double;
		border-bottom-width: 10px;
		border-bottom-color: #36B93D;
		padding: 8px 0px;
	}
		
	.mobile_address{ /* This is the text box on the index page, which contains address and hours */
		width:800px;  
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 0px;
		background-color:#ffffff; 
	}

	.topbar { /* This is the header */
		background-color:#36B93D;
		width:90%; 
	}

	.topbar_buttons { /* Section that contains buttons on every page; the navigation */
		width:90%; 
	}	

	

	/* Text and Buttons */

	.address_entry { /* The text box in which a user types in his/her address to get directions to the CBC */
		padding:		10px 20px;
		width:60%px; 
		font-size:		40px;
	}
	
	.buttons { /* All buttons */
		padding:		10px 20px;
		font-size:		40px;
	}
	
	.events_text{ /* Text on events page; needs extra padding on left and right due to images */
		text-align: left;
		padding: 25px 25px 25px 25px;
	}

	.italic{ /* Any text that needs to be italicized */
		line-height: 41px;
	}

	.left_text{ /* Text that needs to be aligned to the left */
		margin: 20px 20px 20px 20px;
	}
	
	#menu_jumplinks{ /* The golden border around the jump links on the menu page */
	  	border-top-width: 10px;
		border-bottom-width: 10px;
		border-top-color: #36B93D;
		border-bottom-color: #36B93D;
		padding: 8px 0px;
	}
	
	.signature{ /* Formatting for my name and email address at bottom of page */
		font-size:	27px;
	}
	
	
	
	
	/* Classes Being Hidden In This Version */
	
	.desktop{
		display:none;
	}
	
}

/* iPhone Specifically */
@media (max-device-width: 200mm)  {

	/* Basics */

	A:link {
		font-size: 40px;
		}

	A:visited {
		font-size: 40px;
		}
			
	A:hover {
		font-size: 40px;
		}
		
	body {
		padding: 5px;
		font-size: 40px;
		line-height: 40px;
		}
		
	h1,h3,h4{
		margin: 5px 5px 5px 5px;
		font-size: 60px;		
	}
	
	h2{
		margin: 5px 5px 5px 5px;
		font-size: 30px;	
	}
	
	input {
	border : 5px dashed 36B93D;
	height: 100px;
	width: 400px;
	}

	p{
		margin: 0px 0px 0px 0px; 
	}


	tbody{
		margin:  30px  30px 40px 15px;
	}
}


/* Android Specifically */
@media (max-device-width: 339mm)  {

	/* Basics */

	A:link {
		font-size: 30px;
		}

	A:visited {
		font-size: 30px;
		}
			
	A:hover {
		font-size: 30px;
		}
		
	body {
		padding: 5px;
		font-size: 30px;
		line-height: 30px;
		}
		
	h1{
		margin: 5px 5px 5px 5px;
		font-size: 45px;		
	}
	
	h2{
		margin: 5px 5px 5px 5px;
		font-size: 20px;	
	}
	
	input {
	border : 5px dashed 36B93D;
	height: 100px;
	width: 400px;
	}

	p{
		margin: 0px 0px 0px 0px; 
	}


	tbody{
		margin:  30px  30px 40px 15px;
	}
}
